.main{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-delete{
    border: 0px;
    background-color: inherit;
    transition: 100ms;
}

.btn-delete:hover{
    color: red;
}